.banner {
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
}

.banner .mask {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.card {
    position: relative;
}

.card .card-img-top {
    transition: all 0.3s ease-in-out;
}

.card:hover .card-img-top {
    transform: scale(1.05);
}

.card .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.card:hover .card-body {
    bottom: 40%;
    transform: scale(1.05);
}

.card .card-title {
    margin-bottom: 0;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.card:hover .card-title {
    transform: translateY(-50%);
}

.card .card-body h5 {
    text-transform: uppercase;
}

.card:hover .card-body h5 {
    transform: scale(1.05);
}