<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/general.css" th:href="@{/css/general.css}">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap col-12">
            <nav th:replace="fragments/navAdmin :: menuPanelAdmin"></nav>
            <div class="col py-3 contenidoDerechaAdmin">
                <div class="row my-3">
                    <div class="col">
                        <h3>Calendario Semanal de Reservas
                        </h3>
                    </div>
                    <div class="col-md-4">
                        <form th:action="@{/admin/reservas/calendario}" method="get">
                            <div class="d-flex">
                                <div class="form-group mr-2">
                                    <label for="idPista">Seleccionar pista:</label>
                                    <select name="idPista" id="idPista" class="form-control">
                                        <option th:each="pista : ${pistas}" th:value="${pista.id}"
                                            th:text="${'Pista' + ' ' + pista.numero + ' - ' + pista.deporte.nombre}">
                                        </option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                                <button type="submit" class="btn btn-primary mostrarReservas">Mostrar reservas</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!--Poner botones de semana siguiente, semana anterior-->
                <div class="container">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th colspan="7">Pista: <span th:text="${pistas[idPista-1].numero + ' - ' +pistas[idPista-1].deporte.nombre}"></span></th>
                                </tr>
                                <tr class="bg-light-gray">
                                    <th class="text-uppercase">Hora</th>
                                    <th class="text-uppercase">Lunes</th>
                                    <th class="text-uppercase">Martes</th>
                                    <th class="text-uppercase">Miércoles</th>
                                    <th class="text-uppercase">Jueves</th>
                                    <th class="text-uppercase">Viernes</th>
                                    <th class="text-uppercase">Sábado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="hora : ${horas}">
                                    <td th:text="${hora}"></td>
                                    <td th:each="dia : ${dias}">
                                        <div th:each="reserva : ${reservas}"
                                            th:if="${reserva.hora_reserva == hora and reserva.fecha_reserva == dia and reserva.pista.id == idPista}">
                                            <div class="badge bg-primary">
                                                <p style="margin-bottom: 10px; margin-top: 10px;">Socio: <span
                                                        th:text="${reserva.socio.nombre}"></span> <a
                                                        style="color: white; text-decoration: none;" href=""
                                                        data-bs-toggle="modal"
                                                        th:data-bs-target="'#reservaModal-' + ${reserva.id}"><i
                                                            class="bi bi-info-circle-fill"></i></a></p>
                                            </div>
                                            <div class="modal fade" th:id="'reservaModal-' + ${reserva.id}"
                                                tabindex="-1" role="dialog" aria-labelledby="reservaModalLabel"
                                                aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div
                                                            class="modal-header bg-primary text-white align-content-start">
                                                            <h5 class="modal-title" id="reservaModalLabel">Detalles
                                                                de la Reserva</h5>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p><strong>Socio:</strong> <span
                                                                    th:text="${reserva.socio.nombre + ' ' + reserva.socio.apellidos}"></span>
                                                            </p>
                                                            <p><strong>Fecha de la Reserva:</strong> <span
                                                                    th:text="${#temporals.format(reserva.fecha_reserva, 'dd/MM/yyyy')}"></span>
                                                            </p>
                                                            <p><strong>Hora de la Reserva:</strong> <span
                                                                    th:text="${reserva.hora_reserva}"></span></p>
                                                            <p><strong>Pista:</strong> <span
                                                                    th:text="${reserva.pista.numero}"></span></p>
                                                            <p><strong>Deporte:</strong> <span
                                                                    th:text="${reserva.pista.deporte.nombre}"></span>
                                                            </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>