<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/general.css}">
</head>

<body>
    <header th:replace="~{fragments/encabezado :: encabezado}"></header>
    <main>
        <h1 class="text-center">HAZ TU RESERVA</h1>
        <div class="offset-md-8 col-md-4">
            <form th:action="@{/disponibilidad}" method="get">
                <div class="d-flex">
                    <div class="form-group mr-2">
                        <select name="idDeporte" id="idDeporte" class="form-control round" required>
                            <option value="">Elige un deporte</option>
                            <option th:each="deporte : ${deportes}" th:value="${deporte.id}"
                                th:text="${deporte.nombre}">
                            </option>
                        </select>
                        <span class="select-arrow"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mostrarReservas">Mostrar disponibilidad</button>
                </div>
            </form>
        </div>
        <div class="container" th:fragment="calendario">
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th colspan="7">
                                <span th:text="${#temporals.format(dia, 'dd/MM/yyyy')+ ' - ' +deporte.nombre}"></span>
                            </th>
                        </tr>
                        <tr class="bg-light-gray">
                            <th class="text-uppercase" th:each="pista : ${pistas}" th:text="${'Pista ' + pista.numero}">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="i, iStat : ${pistasHoras}">
                            <td th:class="${item ? 'Ocupado bg-danger' : 'Disponible bg-success'}" th:each="item: ${i}">
                                <a class="enlaceReserva" href="" th:if="${!item}"><span th:value="${item}"
                                        th:text="${'Reservar a las '+horas[iStat.index]}"></span></a>
                            </td>
                        </tr>
                        <tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="100%">
                                <div class="d-flex justify-content-between">
                                    <form th:action="@{/disponibilidad}" method="get" th:if="${mostrarBotonAnterior}">
                                        <input type="hidden" name="idDeporte" th:value="${idDeporte}">
                                        <input type="hidden" name="dia" th:value="${diaAnterior}">
                                        <input type="submit" class="btn btn-primary mostrarReservas"
                                        value="Anterior día">
                                    </form>
                                    <form th:action="@{/disponibilidad}" style="float: inline-end;" method="get" th:if="${mostrarBotonSiguiente}">
                                        <input type="hidden" name="idDeporte" th:value="${idDeporte}">
                                        <input type="hidden" name="dia" th:value="${diaSiguiente}">
                                        <input type="submit" class="btn btn-primary mostrarReservas"
                                            value="Siguiente día">
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <form th:action="@{/disponibilidad}" method="get">
                    <input type="hidden" name="idDeporte" th:value="${idDeporte}">
                    <input type="hidden" name="dia" th:value="${diaSiguiente}">
                    <input type="submit" class="btn btn-primary mostrarReservas" value="Mostrar disponibilidad">
                </form>
            </div>
        </div>
    </main>
</body>

</html>