<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/general.css" th:href="@{/css/general.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="../static/js/general.js" th:src="@{/js/general.js}"></script>
    <title>Página de inicio</title>

</head>

<body style="width: 100%;">
    <header th:replace="fragments/encabezado :: encabezado">
    </header>
    <main>
        <div class="banner text-center bg-image py-4 mt-5">
            <div class="mask d-flex justify-content-center align-items-center">
                <div class="bloque text-white mt-2 bannerContenido">
                    <img src="../img/CD Pista Central Blanco.png" alt="Logo del club deportivo" class="img-fluid mt-3"
                        style="max-width: 20%; width: 90%;">
                    <p class="fs-4 text-warning ls-md text-uppercase fw-semibold">No te quedes sin tu lugar</p>
                    <h2 class="display-3 mt-4 mb-3 fw-bold">Descubre una experiencia única</h2>
                    <p class="lead px-lg-8 mb-6 p-3">Reserva ahora desde nuestro portal exclusivo para socios.</p>
                    <a href="/disponibilidad" class="btn btn-primary">Reserva como socio</a>
                </div>
            </div>
        </div>
        <div class="bannerAcceso container-fluid bg-primary py-3" data-aos="fade-left"
            sec:authorize="!isAuthenticated()">
            <div class="row align-items-center">
                <div class="col-md-6 text-md-start text-center">
                    <h1 class="display-6 text-black" style="font-size: 2rem; font-weight: bold; margin-bottom: 1rem;">
                        Acceso exclusivo para socios</h1>
                </div>
                <div class="col-md-6 text-md-end text-center">
                    <a href="#" class="btn botonAcceso btn-outline-dark btn-lg" th:href="@{/login}">Iniciar sesión</a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row m-4" data-aos="fade-right">
                <div class="col-lg-6 order-lg-1 order-2">
                    <div class="d-flex flex-column justify-content-center align-items-center h-100">
                        <h2 class="text-center" style="font-size: 2rem; font-weight: bold; margin-bottom: 1rem;">
                            Bienvenido a nuestro Club
                            Deportivo</h2>
                        <p style="font-size: 1.2rem; text-align: center;">Descubre un lugar donde la pasión por el
                            deporte se vive en cada rincón. En nuestro club, te ofrecemos una multitud de pistas
                            diseñadas para satisfacer todas tus necesidades deportivas. Ya sea que disfrutes del tenis,
                            el fútbol, el pádel o muchos otros deportes, aquí encontrarás el espacio perfecto para
                            practicar tu actividad favorita.</p>
                        <p style="font-size: 1.2rem; text-align: center;">Nuestro club no solo se trata de deporte, sino
                            también de crear un ambiente cálido y familiar. Conecta con otros entusiastas del deporte,
                            haz nuevos amigos y forma parte de una comunidad apasionada. Organizamos eventos, torneos y
                            actividades para que puedas divertirte y superarte a ti mismo.</p>
                        <p style="font-size: 1.2rem; text-align: center;">Únete a nuestro club y descubre un lugar donde
                            el deporte se convierte en una forma de vida. Te damos la bienvenida a nuestra familia
                            deportiva y esperamos verte pronto en nuestras pistas.</p>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-2 order-1">
                    <img src="../img/pistapadel.png" alt="Pista de pádel" style="width: 100%;"
                        class="img-fluid mb-4 mb-lg-0">
                </div>
            </div>
        </div>
        <section class="text-center" data-aos="fade-left">
            <div class="row w-100">
                <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
                    <i class="bi bi-people-fill fs-4 mb-4" style="color: rgb(0, 218, 255); "></i>
                    <h5 class="fw-bold mb-3" th:text="${numSocios}" style="color: rgb(0, 218, 255); "></h5>
                    <h6 class="fw-normal mb-0" style="font-size: 1.2rem">Socios Registrados</h6>
                    <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
                </div>

                <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
                    <i class="bi bi-calendar-event fs-4 mb-4" style="color: rgb(0, 218, 255);"></i>
                    <h5 class="fw-bold mb-3" th:text="${numReservas}" style="color: rgb(0, 218, 255);">490+</h5>
                    <h6 class="fw-normal mb-0" style="font-size: 1.2rem">Reservas</h6>
                    <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
                </div>

                <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
                    <i class="bi bi-1-square fs-4 mb-4" style="color: rgb(0, 218, 255);"></i>
                    <h5 class="fw-bold mb-3" th:text="${numPistas}" style="color: rgb(0, 218, 255);">100+</h5>
                    <h6 class="fw-normal mb-0" style="font-size: 1.2rem">Pistas</h6>
                    <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
                </div>

                <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
                    <i class="bi bi-dribbble fs-4 mb-4" style="color: rgb(0, 218, 255);"></i>
                    <h5 class="fw-bold mb-3" th:text="${numDeportes}" style="color: rgb(0, 218, 255);">28</h5>
                    <h6 class="fw-normal mb-0" style="font-size: 1.2rem">Deportes</h6>
                </div>
            </div>
        </section>
        <div class="bg-white py-5">
            <div class="container py-5">
                <div class="row align-items-center mb-5" data-aos="fade-right">
                    <div class="col-lg-6 order-2 order-lg-1 text-center">
                        <h2 class="font-weight-light">Reserva con facilidad</h2>
                        <p class="font-italic text-muted mb-4">Nuestro exclusivo servicio de reservas te permite
                            asegurar tu lugar en nuestras instalaciones de manera rápida y sencilla. Ahorra tiempo y
                            disfruta al máximo de tus actividades favoritas.</p>
                        <a href="/disponibilidad" class="btn btn-light px-5 rounded-pill shadow-sm">Reservar</a>
                    </div>
                    <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2 text-center">
                        <img src="../img/reservar.png" alt="Icono de reserva" style="width: 70%"
                            class="img-fluid mb-4 mb-lg-0">
                    </div>
                </div>
                <div class="row align-items-center" data-aos="fade-left">
                    <div class="col-lg-5 px-5 mx-auto text-center">
                        <img src="../img/privacidad.png" alt="Icono de privacidad" style="width: 70%;"
                            class="img-fluid mb-4 mb-lg-0">
                    </div>
                    <div class="col-lg-6 text-center">
                        <i class="fa fa-lock fa-2x mb-3 text-primary"></i>
                        <h2 class="font-weight-light">Seguridad y privacidad</h2>
                        <p class="font-italic text-muted mb-4">Nos preocupamos por tu seguridad y privacidad. Nuestro
                            sistema de reservas garantiza la protección de tus datos personales y la confidencialidad de
                            tus transacciones. Reserva con total tranquilidad.</p>
                        <a href="/disponibilidad" class="btn btn-light px-5 rounded-pill shadow-sm">Reservar</a>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </main>

</body>
<script>
    AOS.init();
</script>

</html>