<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/general.css">
    <title>Document</title>
    <style>
        .content {
            display: none;
        }

        .content:target {
            display: block;
        }
    </style>
</head>

<body class="overflow-x-auto">
    <div class="container-fluid">
        <div class="row flex-nowrap col-12">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/"
                        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Menu</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Inicio</span>
                            </a>
                        </li>
                        <li>
                            <a href="#reservas" class="nav-link px-0 align-middle">
                                <i class="bi bi-calendar-event fs-4"></i> <span
                                    class="ms-1 d-none d-sm-inline">Reservas</span></a>
                        </li>
                        <li>
                            <a href="#campeonatos" class="nav-link px-0 align-middle">
                                <i class="bi bi-trophy fs-4"></i> <span
                                    class="ms-1 d-none d-sm-inline">Campeonatos</span> </a>
                        </li>
                        <li>
                            <a href="#socios" class="nav-link px-0 align-middle">
                                <i class="bi bi-person fs-4"></i> <span class="ms-1 d-none d-sm-inline">Socios</span>
                            </a>
                        </li>
                        <li>
                            <a href="#deportes" class="nav-link px-0 align-middle">
                                <i class="bi bi-dribbble fs-4"></i> <span
                                    class="ms-1 d-none d-sm-inline">Deportes</span> </a>
                        </li>
                        <li>
                            <a href="#pistas" class="nav-link px-0 align-middle">
                                <i class="bi bi-1-square fs-4"></i> <span class="ms-1 d-none d-sm-inline">Pistas</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
            <div class="col py-3">
                <div id="reservas" class="content">
                    <div class="container-fluid">
                        <div class="row my-3">
                            <div class="col">
                                <h3>Reservas</h3>
                            </div>
                        </div>
                        <div class="row my-2">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#addReservaModal">
                                <i class="bi bi-plus-square"></i>
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover tablaSocios">
                                <thead>
                                    <tr class="text-center">
                                        <th scope="col">#</th>
                                        <th scope="col">Fecha Reserva</th>
                                        <th scope="col">ID Socio</th>
                                        <th scope="col">Número Pista</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Deporte</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="reserva : ${reservas}" class="text-center">
                                        <th th:text="${reserva.id}">1</th>
                                        <td th:text="${reserva.fechaReserva}">01/01/2021</td>
                                        <td th:text="${reserva.socio.id}">2</td>
                                        <td th:text="${reserva.pista.numero}">3</td>
                                        <td th:text="${reserva.pista.precio}">2.30</td>
                                        <td th:text="${reserva.pista.deporte.nombre}">Tenis</td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                                data-bs-target="#editReservaModal">
                                                <i class="bi bi-pencil-square"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                                data-bs-target="#deleteReservaModal">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Modal Añadir Reserva -->
                    <div class="modal fade" id="addReservaModal" tabindex="-1" aria-labelledby="addReservaModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addReservaModalLabel">Añadir Reserva</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Formulario de Añadir Reserva -->
                                    <form>
                                        <div class="mb-3">
                                            <label for="addReservaFecha" class="form-label">Fecha Reserva</label>
                                            <input type="datetime-local" class="form-control" id="addReservaFecha">
                                        </div>
                                        <div class="mb-3">
                                            <label for="addReservaIDSocio" class="form-label">ID Socio</label>
                                            <input type="number" class="form-control" id="addReservaIDSocio">
                                        </div>
                                        <div class="mb-3">
                                            <label for="addReservaIDPista" class="form-label">ID Pista</label>
                                            <input type="number" class="form-control" id="addReservaIDPista">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary">Añadir</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Modal Editar Reserva -->
                    <div class="modal fade" id="editReservaModal" tabindex="-1" aria-labelledby="editReservaModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editReservaModalLabel">Editar Reserva</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <label for="editFecha" class="col-form-label">Fecha Reserva:</label>
                                            <input type="datetime-local" class="form-control" id="editFecha">
                                        </div>
                                        <div class="mb-3">
                                            <label for="editSocio" class="col-form-label">ID Socio</label>
                                            <input type="number" class="form-control" id="editSocio">
                                        </div>
                                        <div class="mb-3">
                                            <label for="editPista" class="col-form-label">ID Pista</label>
                                            <input type="number" class="form-control" id="editPista">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary">Guardar cambios</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Eliminar Reserva -->
                    <div class="modal fade" id="deleteReservaModal" tabindex="-1"
                        aria-labelledby="deleteReservaModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteReservaModalLabel">Eliminar Reserva</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ¿Está seguro de que desea eliminar esta reserva?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-danger">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="campeonatos" class="content">
                    <p>Hola esto son los campeonatos</p>
                </div>

                <div id="socios" class="content">
                    <div class="container-fluid">
                        <div class="row my-3">
                            <div class="col">
                                <h3>Socios</h3>
                            </div>
                        </div>
                        <div class="row my-2">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#addSocioModal">
                                <i class="bi bi-person-plus"></i>
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover tablaSocios">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellidos</th>
                                        <th scope="col">Usuario</th>
                                        <th scope="col">Teléfono</th>
                                        <th scope="col">Fecha Alta</th>
                                        <th scope="col">Fecha Baja</th>
                                        <th scope="col">Cuota</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="socio : ${socios}">
                                        <th th:text="${socio.id}">1</th>
                                        <td th:text="${socio.nombre}">John</td>
                                        <td th:text="${socio.apellidos}">Doe hajfd hfdsaj hj</td>
                                        <td th:text="${socio.usuario}">jdoe</td>
                                        <td th:text="${socio.telefono}">555-1234</td>
                                        <td th:text="${socio.fecha_alta}">01/01/2021</td>
                                        <td th:text="${socio.fecha_baja}"></td>
                                        <td th:text="${socio.cuota}">$100</td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                                data-bs-target="#editSocioModal">
                                                <i class="bi bi-pencil-square"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                                data-bs-target="#deleteSocioModal">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Modal Añadir Socio -->
                    <div class="modal fade" id="addSocioModal" tabindex="-1" aria-labelledby="addSocioModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addSocioModalLabel">Añadir Socio</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Formulario de Añadir Socio -->
                                    <form>
                                        <div class="mb-3">
                                            <label for="addSocioId" class="form-label">ID</label>
                                            <input type="text" class="form-control" id="addSocioId">
                                        </div>
                                        <div class="mb-3">
                                            <label for="addSocioNombre" class="form-label">Nombre</label>
                                            <input type="text" class="form-control" id="addSocioNombre">
                                        </div>
                                        <div class="mb-3">
                                            <label for="addSocioApellidos" class="form-label">Apellidos</label>
                                            <input type="text" class="form-control" id="addSocioApellidos">
                                        </div>
                                        <div class="mb-3">
                                            <label for="addSocioUsuario" class="form-label">Usuario</label>
                                            <input type="text" class="form-control" id="addSocioUsuario">
                                        </div>
                                        <div class="mb-3">
                                            <label for="addSocioContraseña" class="form-label">Contraseña</label>
                                            <input type="password" class="form-control" id="addSocioContraseña">
                                        </div>
                                        <div class="mb-3">
                                            <label for="addSocioTelefono" class="form-label">Teléfono</label>
                                            <input type="tel" class="form-control" id="addSocioTelefono">
                                        </div>
                                        <div class="mb-3">
                                            <label for="addSocioFechaAlta" class="form-label">Fecha Alta</label>
                                            <input type="date" class="form-control" id="addSocioFechaAlta">
                                        </div>
                                        <div class="mb-3">
                                            <label for="addSocioFechaBaja" class="form-label">Fecha Baja</label>
                                            <input type="date" class="form-control" id="addSocioFechaBaja">
                                        </div>
                                        <div class="mb-3">
                                            <label for="addSocioCuota" class="form-label">Cuota</label>
                                            <input type="number" class="form-control" id="addSocioCuota">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary">Añadir</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Modal Editar Socio -->
                    <div class="modal fade" id="editSocioModal" tabindex="-1" aria-labelledby="editSocioModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editSocioModalLabel">Editar Socio</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <label for="editNombre" class="col-form-label">Nombre:</label>
                                            <input type="text" class="form-control" id="editNombre">
                                        </div>
                                        <div class="mb-3">
                                            <label for="editApellidos" class="col-form-label">Apellidos:</label>
                                            <input type="text" class="form-control" id="editApellidos">
                                        </div>
                                        <div class="mb-3">
                                            <label for="editUsuario" class="col-form-label">Usuario:</label>
                                            <input type="text" class="form-control" id="editUsuario">
                                        </div>
                                        <div class="mb-3">
                                            <label for="editTelefono" class="col-form-label">Teléfono:</label>
                                            <input type="text" class="form-control" id="editTelefono">
                                        </div>
                                        <div class="mb-3">
                                            <label for="editFechaAlta" class="col-form-label">Fecha Alta:</label>
                                            <input type="text" class="form-control" id="editFechaAlta">
                                        </div>
                                        <div class="mb-3">
                                            <label for="editFechaBaja" class="col-form-label">Fecha Baja:</label>
                                            <input type="text" class="form-control" id="editFechaBaja">
                                        </div>
                                        <div class="mb-3">
                                            <label for="editCuota" class="col-form-label">Cuota:</label>
                                            <input type="text" class="form-control" id="editCuota">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary">Guardar cambios</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Eliminar Socio -->
                    <div class="modal fade" id="deleteSocioModal" tabindex="-1" aria-labelledby="deleteSocioModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteSocioModalLabel">Eliminar Socio</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ¿Está seguro de que desea eliminar este socio?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-danger">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="deportes" class="content">
                    <p>Hola esto son los deportes</p>
                </div>

                <div id="pistas" class="content">
                    <p>Hola esto son las pistas</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>