
.navbar{
    background-color: #00daff;
}

.banner {
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.banner .mask {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .banner .mask .bloque h1 {
        font-size: 1em;
    }
}

@media screen and (max-width: 950px) {
    .banner .mask .bloque h4 {
        font-size: 0.8em;
        font-weight: 300;
    }
}

@media screen and (max-width: 600px) {
    .banner .mask .bloque .btn {
        font-size: 0.8em;
    }
}

.card {
    position: relative;
}

.card .card-img-top {
    transition: all 0.3s ease-in-out;
}

.card:hover .card-img-top {
    transform: scale(1.05);
}

.card .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.card:hover .card-body {
    bottom: 40%;
    transform: scale(1.05);
}

.card .card-title {
    margin-bottom: 0;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.card:hover .card-title {
    transform: translateY(-50%);
}

.card .card-body h5 {
    text-transform: uppercase;
}

.card:hover .card-body h5 {
    transform: scale(1.05);
}

.tablaHorarios {
    margin: 0 auto;
    width: 80%;
}

.tituloHorario {
    margin-top: 30px;
}

.bannerAcceso {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/fondo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

@media screen and (max-width: 750px) {
    .tablaSocios button {
        font-size: 0.5em;
    }
    .tablaSocios{
        margin: 0;
    }
}