.contenidoDerechaAdmin {
    max-width: 90%;
}

.botonEditar,
.botonBorrar {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: #d1e8ec;
}

@media screen and (max-width: 600px) {

    .contenidoDerechaAdmin table th,
    td {
        font-size: 0.6em;
        text-align: center;
    }

    .contenidoDerechaAdmin .botonEditar,
    .botonBorrar {
        width: 40%;
        font-size: 0.7em;
    }
}

@media screen and (max-width: 950px) and (min-width: 600px) {

    .contenidoDerechaAdmin table th,
    td {
        font-size: 0.8em;
        text-align: center;
    }

    .contenidoDerechaAdmin .botonEditar,
    .botonBorrar {
        width: 40%;
        font-size: 0.9em;
    }
}


.navbar {
    background-color: #00daff;
}

.banner {
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.banner .mask {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .banner .mask .bloque h1 {
        font-size: 1em;
    }
}

@media screen and (max-width: 950px) {
    .banner .mask .bloque h4 {
        font-size: 0.8em;
        font-weight: 300;
    }
}

@media screen and (max-width: 600px) {
    .banner .mask .bloque .btn {
        font-size: 0.8em;
    }
}

.cardIndex {
    position: relative;
}

.cardIndex .card-img-top {
    transition: all 0.3s ease-in-out;
}

.cardIndex:hover .card-img-top {
    transform: scale(1.05);
}

.cardIndex .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.cardIndex:hover .card-body {
    bottom: 40%;
    transform: scale(1.05);
}

.cardIndex .card-title {
    margin-bottom: 0;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.cardIndex:hover .card-title {
    transform: translateY(-50%);
}

.cardIndex .card-body h5 {
    text-transform: uppercase;
}

.cardIndex:hover .card-body h5 {
    transform: scale(1.05);
}

.tablaHorarios {
    margin: 0 auto;
    width: 80%;
}

.tituloHorario {
    margin-top: 30px;
}

.bannerAcceso {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/fondo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

@media screen and (max-width: 750px) {
    .tablaSocios button {
        font-size: 0.5em;
    }

    .tablaSocios {
        margin: 0;
    }
}

.errorForm {
    color: red;
    font-size: 0.8em;
}

/*Estilos para el formulario de registro*/

body{
    font-family: 'Montserrat', sans-serif;
}


.tablaDisponibilidad {
    background-color: #fff;
    padding: 50px 20px;
    -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    min-width: 300px;
    margin-bottom: 50px;
}

.booking-form .form-label {
    display: inline-block;
    color: #3e485c;
    font-weight: 700;
    margin-bottom: 6px;
    margin-left: 7px;
}

.booking-form .submit-btn {
    display: inline-block;
    color: #fff;
    background-color: #1e62d8;
    font-weight: 700;
    padding: 14px 30px;
    border-radius: 4px;
    border: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.tablaDisponibilidad .submit-btn:hover,
.tablaDisponibilidad .submit-btn:focus {
    opacity: 0.9;
}

.indicadorPrecio {
    margin-right: 30px;
    font-size: 0.8em;
}

@media screen and (min-width: 575px) {
    .indicadorPrecio {
        margin-top: 40px;
    }
}

/*Estilos para el formulario de registro*/
@media screen and (min-width: 750px) {
    .imgLogin {
        height: 100vh;
    }
}

.botonOrdenar {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
}

.mostrarReservas {
    height: 40px;
    margin-left: 10px;
}

select {

    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.round {
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        radial-gradient(#ddd 70%, transparent 72%);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - .5em) .5em;
    background-size:
        5px 5px,
        5px 5px,
        1.5em 1.5em;
    background-repeat: no-repeat;
}

select.round:focus {
    background-image:
        linear-gradient(45deg, white 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, white 50%),
        radial-gradient(gray 70%, transparent 72%);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - .5em) .5em;
    background-size:
        5px 5px,
        5px 5px,
        1.5em 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}

#cartaDeportes {
    background-image: url('../img/reserva.jpg');
    background-size: cover;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.5);
}

#cartaPistas {
    background-image: url('../img/pista.jpg');
    background-size: cover;
    background-position: center;
    font-weight: 600;
}

#cartaSocios {
    background-image: url('../img/socios.jpg');
    background-size: cover;
    background-position: center;
    font-weight: 600;
}

#cartaReservas {
    background-image: url('../img/reservas.jpg');
    background-size: cover;
    background-position: center;
    font-weight: 600;
}

.enlaceGeneral:hover .cartaApartado {
    transform: scale(1.05);
}

.enlaceReserva {
    color: white;
    text-decoration: none;
}

.enlaceReserva:hover td {
    transform: scale(1.1);
}

.section {
    background: #ffffff;
}

.card-stepper {
    z-index: 0
}

.disponibilidad h1 {
    margin-top: 30px;
    font-size: 52px;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
}